.all-booking-header {
    display: flex;
    justify-content: space-between;
}

.booking-sort {
    display: flex;
    margin-top: 2.5rem;
    margin-right: 2rem;
}
.sort-title {
    margin-right: 1rem;
}

.sort-button {
    margin-right: .25rem;
}


img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}