.all-booking-header {
    display: flex;
    justify-content: space-between;
}

.booking-sort {
    display: flex;
    margin-top: 2.5rem;
    margin-right: 2rem;
}
.sort-title {
    margin-right: 1rem;
}

.sort-button {
    margin-right: .25rem;
}

.booking-list-container {
    background-color: #B8B8B8;
}