
.new-booking-card {
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: left;
    font-size: 3rem;
    margin-left: 16rem;
}

.main-page-title {
    display: flex;
    height: 50vh;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}