
.new-booking-card {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 1rem;
}

.main-page-title {
    display: flex;
    height: 10vh;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.hero-section {
    margin-top: 18vh;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.main-page-cards {
    display: flex;
    justify-content: center;
}