
.booking-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.booking-item {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 30%;
}

.listed-booking-title {
    margin-left: 3rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}